
.ItemFileRegister {
    width: 600px;
    height: 850px;
    border: 3px solid rgb(172, 207, 240);
    padding: 25px;
    margin: 25px;
    margin-top: 60px;

    margin-bottom: 100px;
    margin-right: 200px;
    margin-left: 500px;
    background-color:#d4ecfa;
}
.objectName{
    width: 200px;
    height: 40px;
    border: 1px solid rgb(34, 33, 23);
    padding: 3px;
    margin-left: 50px;
    margin-top: 30px;
    border-radius: 15px
}
.classification{
    width: 200px;
    height: 30px;
    border: 1px solid rgb(34, 33, 23);
    padding: 3px;
    margin-left: 50px;
    margin-top: 40px;
}
.tag{
    width: 200px;
    height: 30px;
    border: 1px solid rgb(34, 33, 23);
    padding: 3px;
    margin-left: 50px;
    margin-top: 40px;

}
.objectUse{
    width: 300px;
    height:70px;
    border: 1px solid rgb(34, 33, 23);
    padding: 3px;
    margin-left: 50px;
    margin-top: 40px;
}
.objectNumber{
    width: 150px;
    height: 40px;
    border: 1px solid rgb(34, 33, 23);
    padding: 3px;
    margin-left: 50px;
    margin-top: 40px;
    border-radius: 15px
}

.objectPosition{
    width: 300px;
    height:50px;
    border: 1px solid rgb(34, 33, 23);
    padding: 3px;
    margin-left: 30px;
    margin-top: 40px;
}
.loanNumber{
    width: 200px;
    height: 30px;
    border: 1px solid rgb(34, 33, 23);
    padding: 3px;
    margin-left: 30px;
    margin-top: 40px;
}
.determine{
    width: 80px;
    height: 40px;
    border: 1px solid rgb(34, 33, 23);
    padding: 3px;
    margin-left: 250px;
    margin-top: 40px;
    border-radius: 15px
}
.personId{
    width: 200px;
    height: 40px;
    border: 1px solid rgb(34, 33, 23);
    padding: 3px;
    margin-left: 20px;
    margin-top: 30px;
    border-radius: 15px
}
.reset{
    width: 80px;
    height: 40px;
    border: 1px solid rgb(34, 33, 23);
    padding: 3px;
    margin-left: 250px;
    margin-top: 20px;
    border-radius: 15px
    
}
.title{
    margin: auto;
    margin-right: 200px;
    margin-left: 700px;
}